# Windows / PowerShell
*.log
*.tmp
transcript*.txt

# SSHX-Manager Specifics
sshx-stdout.txt
sshx-stderr.txt
sshx-state.json
*.zip

# Packaging & Build
packaging/windows/*.wixobj
packaging/windows/*.wixpdb

# Editors
.vscode/
.idea/
*.user

# OS noise
.DS_Store
Thumbs.db
